[submodule "DonDxDy/OdooDoteeApp"]
	path = DonDxDy/OdooDoteeApp
	url = git@github.com:DonDxDy/OdooDoteeApp.git
	branch = UcheDevelopment

[submodule "DonDxDy/OdooDoteeApp"]
	path = DonDxDy/OdooDoteeApp
	url = git@github.com:DonDxDy/OdooDoteeApp.git
	branch = UcheDevelopment
